WebContent/wsdl/SelectMemberClubAction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://action.carpool.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://action.carpool.com" xmlns:intf="http://action.carpool.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://action.carpool.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getClubName">
    <complexType>
     <sequence>
      <element name="memberPhoneNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getClubNameResponse">
    <complexType>
     <sequence>
      <element name="getClubNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getClubNameRequest">

      <wsdl:part element="impl:getClubName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClubNameResponse">

      <wsdl:part element="impl:getClubNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SelectMemberClubAction">

      <wsdl:operation name="getClubName">

         <wsdl:input message="impl:getClubNameRequest" name="getClubNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getClubNameResponse" name="getClubNameResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SelectMemberClubActionSoapBinding" type="impl:SelectMemberClubAction">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getClubName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getClubNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getClubNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SelectMemberClubActionService">

      <wsdl:port binding="impl:SelectMemberClubActionSoapBinding" name="SelectMemberClubAction">

         <wsdlsoap:address location="http://localhost:8080/durban-taketwo/services/SelectMemberClubAction"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
